<footer id="footer" class="footer--style-1">
	<div class="footer__inner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="footer__item">
						<a class="site-logo" href="index.html">AGRICOM</a>

						<p class="footer__copy">© 2016, Agricom. All rights reserved.<br />Template by <a href="#" target="_blank">Artureanec</a></p>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="footer__item">
						<h3 class="footer__title">Additional menu</h3>

						<div class="row">
							<div class="col-xs">
								<ul class="footer__menu">
									<li><a href="#">Home</a></li>
									<li><a href="#">Pages</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contacts</a></li>
								</ul>
							</div>

							<div class="col-xs">
								<ul class="footer__menu">
									<li><a href="#">My account</a></li>
									<li><a href="#">Help Desk</a></li>
									<li><a href="#">Support</a></li>
									<li><a href="#">YOur order</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12 col-lg-4">
					<div class="footer__item">
						<h3 class="footer__title">Get a newslatter</h3>

						<form class="footer__form form-horizontal" action="#">
							<p>Effervescent the secure special. Kids spicey chance excellent proven too sleek handcrafted when makes intense</p>

							<div class="b-table">
								<div class="cell v-bottom">
									<label class="input-wrp">
										<input class="textfield" type="text" placeholder="Your E-mail" />
									</label>
								</div>

								<div class="cell v-bottom">
									<button class="custom-btn primary" type="submit" role="button">subscribe</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>