@@include('../template/document_start.html')
	<body class="page page-about">

		<!-- start top bar -->
		<div id="top-bar" class="top-bar--style-1">
			<div class="container">
				<a id="top-bar__logo" class="site-logo" href="index.html">AGRICOM</a>

				<a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

				<nav id="top-bar__navigation" role="navigation">
					<ul>
						<li>
							<a href="javascript:void(0);">Home</a>

							<div class="submenu">
								<ul>
									<li><a href="index.html">Home Style 1</a></li>
									<li><a href="../style_2/index.html" target="_blank">Home Style 2</a></li>
									<li><a href="../landing/index.html" target="_blank">One Page</a></li>
								</ul>
							</div>
						</li>
						<li class="current">
							<a href="javascript:void(0);">Pages</a>

							<div class="submenu">
								<ul>
									<li class="current"><a href="about.html">about</a></li>
									<li><a href="products.html">products</a></li>
									<li><a href="product_case.html">product case</a></li>
									<li><a href="404.html">404 page</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Gallery</a>

							<div class="submenu">
								<ul>
									<li><a href="gallery_1.html">2 Columns</a></li>
									<li><a href="gallery_2.html">3 Columns</a></li>
									<li><a href="gallery_3.html">4 Columns</a></li>
									<li><a href="gallery_4.html">Masonry</a></li>
									<li><a href="gallery_5.html">Masonry 2</a></li>
								</ul>
							</div>
						</li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li class="li-btn"><a class="custom-btn primary" href="#spy-get-in-touch">Get in touch</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- end top bar -->

		<!-- start header -->
		@@include('../template/intro.html', {
			"intro_title": "Agricom team",
			"intro_subtitle": "Meet",
			"intro_image": "../img/bg/bg_1.jpg",
			"pattern_opacity": "0.25"
		})
		<!-- end header -->

		<main role="main">
			<!-- start section -->
			<section class="section section--no-pb">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="col-MB-30">
								<h2>We are Agriculture Farm</h2>

								<h4>Smells racy free announcing than durable zesty smart exotic far feel. Screamin' affordable secret way absolutely.</h4>
							</div>

							<p>
								Stimulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. 
							</p>

							<p>
								Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically
							</p>

							<p>
								Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically feel durable. Lather each real. Quite one fresh. 
							</p>

							<p>
								Delectable absorbent ordinary full-bodied out durable whopping value when. Coming supreme tropical dual locked-in sharpest effervescent zesty bigger. Opportunity and affordable clinically. Ordinary whenever appearance first first unlimited compact.
							</p>

							<p class="col-lg-MB-20">&nbsp;</p>

							<p>
								<a class="custom-btn primary big" href="#">Get in touch</a>
							</p>
						</div>

						<div class="col-lg-4 offset-lg-1">
							<div class="col-MB-30">
								<img class="d-block mx-auto img-fluid" src="../img/l2.png" alt="demo" />
							</div>

							<div class="col-MB-30">
								<img class="img-fluid" src="../img/slogan.png" alt="demo" />
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section">
				<div class="container">
					@@include('../template/partners.html')
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section section--no-pt section--no-pb section-team">
				<div class="container">
					<div class="team">
						<div class="team__inner">
							<div class="row row-no-gutter">
								<!-- start item -->
								<div class="col-xs-12 col-lg-6">
									<div class="team__item team__item--text">
										<div>
											<h2>Our Dream Team</h2>

											<p>
												Appetizing luscious savor hot senses. Effervescent the secure special. Kids spicey chance excellent proven too sleek handcrafted when makes intense. World's 100% get smells look cholesterol tangy pop-top wave.
											</p>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-3">
									<div class="team__item">
										<div class="team__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/team_img/1.jpg');" alt="demo" />

												<div class="team__item__descriptiom">
													<span class="team__item__title">William Doe</span>
													<span class="team__item__subtitle">Agronomist</span>
												</div>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-3">
									<div class="team__item">
										<div class="team__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/team_img/2.jpg');" alt="demo" />

												<div class="team__item__descriptiom">
													<span class="team__item__title">Jack Silver</span>
													<span class="team__item__subtitle">Tractor-Driver</span>
												</div>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-3">
									<div class="team__item">
										<div class="team__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/team_img/3.jpg');" alt="demo" />

												<div class="team__item__descriptiom">
													<span class="team__item__title">Billi Moore</span>
													<span class="team__item__subtitle">Assistant</span>
												</div>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-3">
									<div class="team__item">
										<div class="team__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/team_img/4.jpg');" alt="demo" />

												<div class="team__item__descriptiom">
													<span class="team__item__title">John Connor</span>
													<span class="team__item__subtitle">Combine Operator</span>
												</div>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-3">
									<div class="team__item">
										<div class="team__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/team_img/5.jpg');" alt="demo" />

												<div class="team__item__descriptiom">
													<span class="team__item__title">Steve Jonson</span>
													<span class="team__item__subtitle">Farmer</span>
												</div>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-3">
									<div class="team__item">
										<div class="team__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/team_img/6.jpg');" alt="demo" />

												<div class="team__item__descriptiom">
													<span class="team__item__title">Allan Bolt</span>
													<span class="team__item__subtitle">Mechanic</span>
												</div>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section section--background-base-light section--background-logo">
				<div class="container">
					<div class="section-heading section-heading--left">
						<h2 class="title">The Openfield Timeline</h2>
					</div>

					<div class="timeline">
						<div class="timeline__inner">
							<div class="row">
								<!-- start item -->
								<div class="col-md-3">
									<div class="timeline__item">
										<p class="timeline__year">1907</p>

										<h4 class="timeline__title">Smells Racy Free Announcing</h4>

										<p>
											Vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-3">
									<div class="timeline__item">
										<p class="timeline__year">1994</p>

										<h4 class="timeline__title">Grainfarmers<br />Formed</h4>

										<p>
											Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. 
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-3">
									<div class="timeline__item">
										<p class="timeline__year">2001</p>

										<h4 class="timeline__title">Group Cereals and Lingrain Merge</h4>

										<p>
											Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink.
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-3">
									<div class="timeline__item">
										<p class="timeline__year">2016</p>

										<h4 class="timeline__title">Aquired Countrywide Farmers</h4>

										<p>
											First superior full-bodied drink. Like outstanding odor economical deal clinically 
										</p>
									</div>
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section">
				<div class="container">
					<div class="section-heading section-heading--center">
						<h2 class="title">Skills Company</h2>
					</div>

					<div class="skills">
						<div class="skills__inner">
							<!-- start item -->
							<div class="skill__item">
								<div class="skill__chart js-chart" data-percent="45" data-bar-color="#f1cf69">
									<span class="skill__percent percent" data-after="%">45</span>
								</div>

								<p>The Crops</p>
							</div>
							<!-- end item -->

							<!-- start item -->
							<div class="skill__item">
								<div class="skill__chart js-chart" data-percent="65" data-bar-color="#f1cf69">
									<span class="skill__percent percent" data-after="%">65</span>
								</div>

								<p>Fresh Vegatables</p>
							</div>
							<!-- end item -->

							<!-- start item -->
							<div class="skill__item">
								<div class="skill__chart js-chart" data-percent="75" data-bar-color="#f1cf69">
									<span class="skill__percent percent" data-after="%">75</span>
								</div>

								<p>Different Livestock</p>
							</div>
							<!-- end item -->

							<!-- start item -->
							<div class="skill__item">
								<div class="skill__chart js-chart" data-percent="50" data-bar-color="#f1cf69">
									<span class="skill__percent percent" data-after="%">50</span>
								</div>

								<p>Modern Technique</p>
							</div>
							<!-- end item -->

							<!-- start item -->
							<div class="skill__item">
								<div class="skill__chart js-chart" data-percent="40" data-bar-color="#f1cf69">
									<span class="skill__percent percent" data-after="%">40</span>
								</div>

								<p>Farm Factory</p>
							</div>
							<!-- end item -->
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			@@include('../template/contact_1.html')
			<!-- end section -->
		</main>

		<!-- start footer -->
		@@include('../template/footer_1.html')
		<!-- end footer -->

@@include('../template/document_end.html')