@@include('../template/document_start.html')
	<body class="page page-contacts">

		<!-- start top bar -->
		<div id="top-bar" class="top-bar--style-1">
			<div class="container">
				<a id="top-bar__logo" class="site-logo" href="index.html">AGRICOM</a>

				<a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

				<nav id="top-bar__navigation" role="navigation">
					<ul>
						<li>
							<a href="javascript:void(0);">Home</a>

							<div class="submenu">
								<ul>
									<li><a href="index.html">Home Style 1</a></li>
									<li><a href="../style_2/index.html" target="_blank">Home Style 2</a></li>
									<li><a href="../landing/index.html" target="_blank">One Page</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Pages</a>

							<div class="submenu">
								<ul>
									<li><a href="about.html">about</a></li>
									<li><a href="products.html">products</a></li>
									<li><a href="product_case.html">product case</a></li>
									<li><a href="404.html">404 page</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Gallery</a>

							<div class="submenu">
								<ul>
									<li><a href="gallery_1.html">2 Columns</a></li>
									<li><a href="gallery_2.html">3 Columns</a></li>
									<li><a href="gallery_3.html">4 Columns</a></li>
									<li><a href="gallery_4.html">Masonry</a></li>
									<li><a href="gallery_5.html">Masonry 2</a></li>
								</ul>
							</div>
						</li>
						<li><a href="blog.html">Blog</a></li>
						<li class="current"><a href="contacts.html">Contacts</a></li>
						<li class="li-btn"> <a class="custom-btn primary" href="#spy-get-in-touch">Get in touch</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- end top bar -->

		<!-- start header -->
		@@include('../template/intro.html', {
			"intro_title": "Contacts",
			"intro_subtitle": "agricom",
			"intro_image": "../img/bg/bg_7.jpg",
			"pattern_opacity": "0.15"
		})
		<!-- end header -->

		<main role="main">
			<!-- start section -->
			<section class="section">
				<div class="container">
					<div class="contact-address">
						<address class="contact-address__inner">
							<div class="row flex-items-lg-around">
								<!-- start item -->
								<div class="col-md-4 col-lg-3">
									<div class="contact__item">
										<i class="contact__item__ico fontello-location"></i>

										<h4 class="contact__item__title">Adress</h4>

										<p>
											123 Sky Tower, West 21th Street,
											<br />
											Suite 721, NY
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-4 col-lg-3">
									<div class="contact__item">
										<i class="contact__item__ico fontello-phone-call"></i>

										<h4 class="contact__item__title">Phone</h4>

										<p>
											+844 123 456 789
											<br />
											+844 123 456 789
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-4 col-lg-3">
									<div class="contact__item">
										<i class="contact__item__ico fontello-mail"></i>

										<h4 class="contact__item__title">Email</h4>

										<p>
											<a href="mailto:contact@company.com">contact@company.com</a>
											<br />
											<a href="mailto:info@company.com">info@company.com</a>
										</p>
									</div>
								</div>
								<!-- end item -->
							</div>
						</address>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section section--no-pt">
				<div class="container">
					<div class="map-container">
						<div class="g_map" data-longitude="44.958309" data-latitude="34.109925" data-marker="../img/marker.png"></div>
					</div>
				</div>
			</section>

			<!-- start section -->
			<section class="section section--no-pt">
				<div class="container">
					<h4 class="h2">Send Message</h4>

					<form action="#">
						<div class="row">
							<div class="col-md">
								<label class="input-wrp">
									<input class="textfield" type="text" placeholder="You name" />
								</label>
							</div>

							<div class="col-md">
								<label class="input-wrp">
									<input class="textfield" type="text" placeholder="E-mail" />
								</label>
							</div>
						</div>

						<label class="input-wrp">
							<textarea class="textfield" placeholder="Comment"></textarea>
						</label>

						<button class="custom-btn primary" type="submit" role="button">Send</button>
					</form>
				</div>
			</section>
			<!-- end section -->
		</main>

		<!-- start footer -->
		@@include('../template/footer_1.html')
		<!-- end footer -->

@@include('../template/document_end.html')