@@include('../template/document_start.html')
	<body class="page page-gallery">

		<!-- start top bar -->
		<div id="top-bar" class="top-bar--style-1">
			<div class="container">
				<a id="top-bar__logo" class="site-logo" href="index.html">AGRICOM</a>

				<a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

				<nav id="top-bar__navigation" role="navigation">
					<ul>
						<li>
							<a href="javascript:void(0);">Home</a>

							<div class="submenu">
								<ul>
									<li><a href="index.html">Home Style 1</a></li>
									<li><a href="../style_2/index.html" target="_blank">Home Style 2</a></li>
									<li><a href="../landing/index.html" target="_blank">One Page</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Pages</a>

							<div class="submenu">
								<ul>
									<li><a href="about.html">about</a></li>
									<li><a href="products.html">products</a></li>
									<li><a href="product_case.html">product case</a></li>
									<li><a href="404.html">404 page</a></li>
								</ul>
							</div>
						</li>
						<li class="current">
							<a href="javascript:void(0);">Gallery</a>

							<div class="submenu">
								<ul>
									<li><a href="gallery_1.html">2 Columns</a></li>
									<li><a href="gallery_2.html">3 Columns</a></li>
									<li class="current"><a href="gallery_3.html">4 Columns</a></li>
									<li><a href="gallery_4.html">Masonry</a></li>
									<li><a href="gallery_5.html">Masonry 2</a></li>
								</ul>
							</div>
						</li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li class="li-btn"> <a class="custom-btn primary" href="#spy-get-in-touch">Get in touch</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- end top bar -->

		<!-- start header -->
		@@include('../template/intro.html', {
			"intro_title": "Gallery",
			"intro_subtitle": "4 columns",
			"intro_image": "../img/bg/bg_4.jpg",
			"pattern_opacity": "0.25"
		})
		<!-- end header -->

		<main role="main">
			<!-- start section -->
			<section class="section">
				<div class="container">
					<ul id="gallery-set">
						<li><a class="selected" data-cat="*" href="#">All</a></li>
						<li><a data-cat="category-1" href="#">Crop</a></li>
						<li><a data-cat="category-2" href="#">Vegatables</a></li>
						<li><a data-cat="category-3" href="#">Fruits</a></li>
						<li><a data-cat="category-4" href="#">Animals</a></li>
					</ul>

					<div class="gallery gallery--style-3">
						<div class="gallery__inner">
							<div class="row row-no-gutter  js-isotope" data-isotope-options='{ "itemSelector": ".js-isotope__item", "transitionDuration": "0.8s", "percentPosition": "true"}'>
								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-1">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/1.jpg');" alt="demo" />

												<a class="gallery__item__description" href="https://www.youtube.com/embed/1zG1iq9LZ2U" data-gallery="gall">
													<span class="gallery__item__title">Sun Lemon</span>
													<span class="gallery__item__subtitle">Fruits</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-2">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/2.jpg');" alt="demo" />

												<a class="gallery__item__description" href="http://player.vimeo.com/video/95974049" data-gallery="gall">
													<span class="gallery__item__title">Our Farm</span>
													<span class="gallery__item__subtitle">Life Style</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-3">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/3.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/3.jpg" data-gallery="gall">
													<span class="gallery__item__title">Awesome Fields</span>
													<span class="gallery__item__subtitle">Crops</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-4">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/4.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/4.jpg" data-gallery="gall">
													<span class="gallery__item__title">Fresh Grape</span>
													<span class="gallery__item__subtitle">Fruits</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-1">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/5.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/5.jpg" data-gallery="gall">
													<span class="gallery__item__title">Sweet Redis</span>
													<span class="gallery__item__subtitle">Vegatables</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-2">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/6.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/6.jpg#" data-gallery="gall">
													<span class="gallery__item__title">Huge Wheat</span>
													<span class="gallery__item__subtitle">Crops</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-1 category-3">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/7.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/7.jpg" data-gallery="gall">
													<span class="gallery__item__title">Hot Papper</span>
													<span class="gallery__item__subtitle">Vegatables</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-2 category-4">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/8.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/8.jpg" data-gallery="gall">
													<span class="gallery__item__title">Beautiful Carrots</span>
													<span class="gallery__item__subtitle">Vegatables</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-1">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/9.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/9.jpg" data-gallery="gall">
													<span class="gallery__item__title">Sugar Grape</span>
													<span class="gallery__item__subtitle">Fruits</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-2">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/10.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/10.jpg" data-gallery="gall">
													<span class="gallery__item__title">Strawberry</span>
													<span class="gallery__item__subtitle">Fruits</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-3">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/11.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/11.jpg" data-gallery="gall">
													<span class="gallery__item__title">Barley</span>
													<span class="gallery__item__subtitle">Crops</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-4">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/12.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/12.jpg" data-gallery="gall">
													<span class="gallery__item__title">Testy Holiday</span>
													<span class="gallery__item__subtitle">Life Style</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-1">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/13.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/13.jpg" data-gallery="gall">
													<span class="gallery__item__title">Tea Fields</span>
													<span class="gallery__item__subtitle">Vegatables</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-2">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/14.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/14.jpg" data-gallery="gall">
													<span class="gallery__item__title">Smell Species</span>
													<span class="gallery__item__subtitle">Life Style</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-1 category-3">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/15.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/15.jpg" data-gallery="gall">
													<span class="gallery__item__title">Red Cherries</span>
													<span class="gallery__item__subtitle">Fruits</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 js-isotope__item  category-2 category-4">
									<div class="gallery__item">
										<div class="gallery__item__inner">
											<figure>
												<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/16.jpg');" alt="demo" />

												<a class="gallery__item__description" href="../img/gall_img/4_col/16.jpg" data-gallery="gall">
													<span class="gallery__item__title">Cow Farm</span>
													<span class="gallery__item__subtitle">Livestock</span>
												</a>
											</figure>
										</div>
									</div>
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>

					<div class="text-center">
						<a id="gallery-more-btn" class="custom-btn big primary" href="javascript:void(0);">Show more</a>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			@@include('../template/contact_1.html')
			<!-- end section -->
		</main>

		<!-- start footer -->
		@@include('../template/footer_1.html')
		<!-- end footer -->

@@include('../template/document_end.html')