@@include('../template/document_start.html')
	<body class="page page-products">

		<!-- start top bar -->
		<div id="top-bar" class="top-bar--style-1">
			<div class="container">
				<a id="top-bar__logo" class="site-logo" href="index.html">AGRICOM</a>

				<a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

				<nav id="top-bar__navigation" role="navigation">
					<ul>
						<li>
							<a href="javascript:void(0);">Home</a>

							<div class="submenu">
								<ul>
									<li><a href="index.html">Home Style 1</a></li>
									<li><a href="../style_2/index.html" target="_blank">Home Style 2</a></li>
									<li><a href="../landing/index.html" target="_blank">One Page</a></li>
								</ul>
							</div>
						</li>
						<li class="current">
							<a href="javascript:void(0);">Pages</a>

							<div class="submenu">
								<ul>
									<li><a href="about.html">about</a></li>
									<li class="current"><a href="products.html">products</a></li>
									<li><a href="product_case.html">product case</a></li>
									<li><a href="404.html">404 page</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Gallery</a>

							<div class="submenu">
								<ul>
									<li><a href="gallery_1.html">2 Columns</a></li>
									<li><a href="gallery_2.html">3 Columns</a></li>
									<li><a href="gallery_3.html">4 Columns</a></li>
									<li><a href="gallery_4.html">Masonry</a></li>
									<li><a href="gallery_5.html">Masonry 2</a></li>
								</ul>
							</div>
						</li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li class="li-btn"> <a class="custom-btn primary" href="#spy-get-in-touch">Get in touch</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- end top bar -->

		<!-- start header -->
		@@include('../template/intro.html', {
			"intro_title": "Products",
			"intro_subtitle": "major",
			"intro_image": "../img/bg/bg_2.jpg",
			"pattern_opacity": "0.15"
		})
		<!-- end header -->

		<main role="main">
			<!-- start section -->
			<section class="section" style="background-color: #f9f9f9;">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-lg-4 col-xl-3">
							<div class="col-MB-30">
								<h2>AgriCom Farm Ecology Products</h2>
							</div>
						</div>

						<div class="col-xs-12 col-lg-8 col-xl-9">
							<h4>
								Smells racy free announcing than durable zesty smart exotic far feel. Screamin' affordable secret way absolutely.
							</h4>

							<p>
								Stimulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. 
							</p>

							<p>
								Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically
							</p>

							<p>
								Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically feel durable. Lather each real. Quite one fresh. 
							</p>

							<p>
								Delectable absorbent ordinary full-bodied out durable whopping value when. Coming supreme tropical dual locked-in sharpest effervescent zesty bigger. Opportunity and affordable clinically. Ordinary whenever appearance first first unlimited compact.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section">
				<div class="container">
					<div class="products">
						<div class="products__inner">
							<div class="row flex-items-xs-middle row-no-gutter">
								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--text">
										<i class="product__item__ico product__item__ico--1"></i>

										<h3 class="product__item__title"><a href="product_case.html">The Crops</a></h3>

										<p>
											Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically. Odor to yummy high racy bonus soaking
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--image">
										<img class="img-fluid" src="../img/products_img/1.jpg" alt="demo" />
									</div>
								</div>
								<!-- end item -->
							</div>

							<div class="row flex-items-xs-middle row-no-gutter">
								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--text">
										<i class="product__item__ico product__item__ico--2"></i>

										<h3 class="product__item__title"><a href="product_case.html">Fresh Vegatables</a></h3>

										<p>
											Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically feel durable. Lather each real. Quite one fresh. Delectable absorbent ordinary full-bodied out durable whopping value when. Coming supreme tropical dual locked-in sharpest effervescent zesty 
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- end item -->
								<div class="col-md-6">
									<div class="product__item product__item--image">
										<img class="img-fluid" src="../img/products_img/2.jpg" alt="demo" />
									</div>
								</div>
								<!-- end item -->
							</div>

							<div class="row flex-items-xs-middle row-no-gutter">
								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--text">
										<i class="product__item__ico product__item__ico--3"></i>

										<h3 class="product__item__title"><a href="product_case.html">Different Livestock</a></h3>

										<p>
											Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically. Odor to yummy high racy bonus 
										</p>
									</div>
								</div>

								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--image">
										<img class="img-fluid" src="../img/products_img/3.jpg" alt="demo" />
									</div>
								</div>
								<!-- end item -->
							</div>

							<div class="row flex-items-xs-middle row-no-gutter">
								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--text">
										<i class="product__item__ico product__item__ico--4"></i>

										<h3 class="product__item__title"><a href="product_case.html">Modern Technique</a></h3>

										<p>
											Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically feel durable. Lather each real. Quite one fresh. Delectable absorbent ordinary full-bodied out durable whopping value when. Coming supreme tropical dual
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--image">
										<img class="img-fluid" src="../img/products_img/4.jpg" alt="demo" />
									</div>
								</div>
								<!-- end item -->
							</div>

							<div class="row flex-items-xs-middle row-no-gutter">
								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--text">
										<i class="product__item__ico product__item__ico--5"></i>

										<h3 class="product__item__title"><a href="product_case.html">Farm Factory</a></h3>

										<p>
											Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically. Odor to yummy
										</p>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-6">
									<div class="product__item product__item--image">
										<img class="img-fluid" src="../img/products_img/5.jpg" alt="demo" />
									</div>
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section section--no-pt">
				<div class="container">
					<div class="section-heading section-heading--center">
						<h2 class="title">Our Achievements</h2>
					</div>

					<div class="counters counters--style-1">
						<div class="counters__inner">
							<div class="row">
								<!-- star item -->
								<div class="col-sm-6 col-md-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--1"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="200" data-after="k">200</p>

										<p class="counter__item__title">Tons of Corn</p>
									</div>
								</div>
								<!-- end item -->

								<!-- star item -->
								<div class="col-sm-6 col-md-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--2"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="150" data-after="k">150</p>

										<p class="counter__item__title">Tons Vegatables</p>
									</div>
								</div>
								<!-- end item -->

								<!-- star item -->
								<div class="col-sm-6 col-md-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--3"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="58">58</p>

										<p class="counter__item__title">Units of Equipment</p>
									</div>
								</div>
								<!-- end item -->

								<!-- star item -->
								<div class="col-sm-6 col-md-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--4"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="5" data-after="k">5</p>

										<p class="counter__item__title">Hectare Fields</p>
									</div>
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section parallax" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="300" data-stellar-offset-parent="true" style="background-image: url('../img/bg/bg_9.jpg');">
				<div class="container">
					<div class="section-heading section-heading--center section-heading--white">
						<h2 class="title">What People Says</h2>
					</div>

					@@include('../template/feedback_1.html')
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			@@include('../template/contact_1.html')
			<!-- end section -->
		</main>

		<!-- start footer -->
		@@include('../template/footer_1.html')
		<!-- end footer -->

@@include('../template/document_end.html')